/* Main Services Section */
.services {
  text-align: center;
  padding: 50px 20px;
}

/* Header Section */
.header {
  width: 50%;
  margin: auto;
  text-align: left;
  margin-bottom: 40px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #008772;
}

.subtitle {
  font-size: 1.3rem;
  color: #555555;
  font-weight: 600;
  margin-bottom: 20px;
  width: 75%;
}

/* Grid for Service Cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Individual Service Card */
.card {
  background: #f9fcfc;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px #B5E3FF75;
}

/* Service Icon */
.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 0;
  background-color: #f0f9f9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 20px;
  height: 20px;
}

/* Card Title */
.card h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}

/* Card Description */
.card p {
  font-size: 0.95rem;
  text-align: left;
  color: #555555;
  line-height: 1.5;
}
